@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    .hero{
        background-image: 
        url('./assets/hero.jpg'),
        radial-gradient(87.74% 87.74% at 83.28% 6.8%, #026305 0%, #017724 67.15%, #015c0d 99.17%);
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center center;
    }
    .about-hero{
        background-image: 
        url('./assets/sp.png'),
        radial-gradient(87.74% 87.74% at 83.28% 6.8%, #013403 0%, #008928 67.15%, #01410A 99.17%);
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center center;
    }
    .team-hero{
        background-image: 
        url('./assets/sp.png'),
        radial-gradient(87.74% 87.74% at 83.28% 6.8%, #013403 0%, #008928 67.15%, #01410A 99.17%);
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center center;
    }
    .radial-gradient{
        background-image: radial-gradient(87.74% 87.74% at 83.28% 6.8%, #012902 0%, #006920 67.15%, #003808 99.17%)
    }
    .text-gradient{
        @apply bg-gradient-to-b from-[#E3F5E8] to-[#95D7A8] bg-clip-text text-transparent;
    }
    .radial-gradient-2{
        background: radial-gradient(121.63% 121.63% at 48.08% 51.92%, #008800 11.21%, #28FF15 57.7%, #82E404 70.49%, #187318 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    }
}